<!-- <p>display-all-notes works!</p> -->

<div class="main">
    <mat-card *ngFor="let notes of NotesList | searchPipe: filterString" class="matcard" [ngStyle]="{'background-color': notes.color}">
        <div class="notediv" style="width: 210px;">

            <div class="upperdiv" (click)="openDialog(notes)">
                {{notes.Title}}
                <img class="pindiv" src="../../../assets/images/pin.png" width="20vw" />
            </div>
            <div (click)="openDialog(notes)">
                {{notes.Descreption}}
            </div>
            <!-- <div>
                {{notes._id}}
            </div> -->


            <div class="icons">
                <app-icons [notecard]="notes" (deleteEvent)="receiveResponseFromDeleteIcons($event)"
                    (colorEvent)="receiveResponseFromColorIcon($event)"
                    (archiveEvent)="receiveResponseFromArchiveIcons($event)"></app-icons>
            </div>
        </div>


    </mat-card>
</div>