.main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}

.matcard {
    margin-top: 2%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.upperdiv{
    display: flex;
    justify-content: space-between;
}

// .pindiv{
//     position: inherit;
//     right: 200px;
// }

.icons {
    position: inherit;
    top: 80px;
    width: 20px;
    display: flex;
    flex-direction: row;
}