<mat-card class="main">
    <form [formGroup]="forgotForm">
        <div class="title">
            <span class="label" style="color:#FF0000">F</span>
            <span class="label" style="color:#66CC66">u</span>
            <span class="label" style="color:#FF9966">n</span>
            <span class="label" style="color:#FFCCCC">d</span>
            <span class="label" style="color:#FF0066">o</span>
            <span class="label" style="color:#FF0000">o</span>
            <span class="label" style="color:#66CC66">N</span>
            <span class="label" style="color:#FF9966">o</span>
            <span class="label" style="color:#FFCCCC">t</span>
            <span class="label" style="color:#FF0066">e</span>
            <span class="label" style="color:#FF0066">s</span>
        </div>
        <div class="title1">Find your email</div>
        <div class="title2">Enter your phone number or recovery email</div>

        <div class="name">
            <mat-form-field appearance="outline" style="width: 30vw">
                <mat-label>Phone number or Email</mat-label>
                <input matInput placeholder="" formControlName="email">
                <mat-error>Enter valid email or phone number</mat-error>
            </mat-form-field>
        </div>

        <div class="end">
            <button mat-raised-button color="primary" (click)="onSubmit()">Next</button>
        </div>
    </form>
</mat-card>