<!-- <p>create-note works!</p> -->

<div *ngIf="show==false" (click)="showing()" class="main">
    <mat-card fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="80">
            <input class="inputboxsize" matInput placeholder="Take a note...">
        </div>
        <div class="icons">
            <img src="../../../assets/images/new_list.png" alt="new_note" width="20w">
            <img src="../../../assets/images/brush.png" alt="brush" width="20vw">
            <img src="../../../assets/images/new_note.png" alt="new_note" width="20vw">
        </div>
    </mat-card>
</div>

<div class="main1">
    <form [formGroup]="noteForm" *ngIf="show==true" (ngSubmit)="showing()">
        <mat-card>
            <div class="topdiv">
                <div class="titlediv">
                    <input formControlName="Title" class="inputboxsize" matInput placeholder="Title">
                    <img src="../../../assets/images/pin.png" alt="pin" width="20vw">
                </div>
                <!-- <div class="pindiv">
                    <img src="../../../assets/images/pin.png" alt="pin" width="20vw">
                </div> -->
            </div>
            <p></p>
            <div class="bottomdiv">
                <div class="takediv">
                    <input formControlName="Descreption" class="inputboxsize" matInput placeholder="Descreption...">
                </div>
            </div>
            <div class="closediv">
                <div class="appicons">
                    <app-icons></app-icons>
                </div>
                <button mat-button (click)="ngSubmit()">Close</button>
            </div>

        </mat-card>
    </form>
</div>