.main {
    // display: flex;
    // justify-content: center;
    width: 50%;
    // margin-right: 50px;
    // margin-top: 20px;
    // margin-bottom: 10px;
    padding-left: 10%;
}

.icons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    // border: solid red;
}

.main1 {
    width: 50%;
    // margin-right: 50px;
    // margin-top: 20px;
    // margin-bottom: 10px;
    padding-left: 10%;
}

.topdiv{
    // border: solid red;
}

.bottomdiv{
    // border: solid red;
}

.titlediv {
    padding-top: 5px;
}

.takediv {
    padding-top: 10px;
}

.pindiv {
    // padding-top: 30px;
    padding-left: 480px;
    // margin-bottom: 5%;
}

.closediv{
    padding-left: 430px;
}