.main {

    width: 50%;
    margin-top: 2.5%;
    padding-left: 10%;
}

.icons {
    display: flex;
    width: 20%;
    justify-content: space-between;

}

.main1 {
    width: 50%;
    margin-top: 2.5%;
    padding-left: 10%;
}

.topdiv{
    // border: solid red;
}

.bottomdiv{
    // border: solid red;
}

.titlediv {
    display: flex;
    padding-top: 5px;
}

.takediv {
    padding-top: 10px;
}

// .pindiv {
//     // padding-top: 30px;
//     padding-left: 480px;
//     // margin-bottom: 5%;
// }

.closediv{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    // padding-left: 430px;
}

.appicons{
    margin-left: -2%;
}