<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="example-toolbar">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/images/keep_image.png" alt="keep_logo" width="40vw">
    <h1 class="example-app-name">Fundoo</h1>
    <!-- Search bar -->
    <div class="searchdiv" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="100">
        <button mat-icon-button class="search-button">
          <mat-icon id="search" matTooltip="Search">search</mat-icon>
        </button>

        <input fxFlex="50" matInput placeholder="Search" [(ngModel)]="message" (keyup)="titleSearch($event)" [style.fontSize.px]="16"
          class="search-window" autocomplete="off" type="text" />
      </mat-form-field>
    </div>
    <div class="icondiv1">
      <img src="../../../assets/images/refresh.png" alt="refresh" width="25vw">
      <img src="../../../assets/images/list_view.png" alt="list_view" width="25vw">
      <img src="../../../assets/images/settings.png" alt="settings" width="25vw">
      <img src="../../../assets/images/apps.png" alt="apps" width="25vw">
      <img src="../../../assets/images/account.png" alt="account" width="25vw">
    </div>
    <!-- <div class="icondiv2">
      <img src="../../../assets/images/apps.png" alt="apps" width="25vw">
      <img src="../../../assets/images/account.png" alt="account" width="25vw">
    </div> -->

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56 ">
      <mat-list>
        <div class="click sidebar-item" fxLayoutGap="30px" style="margin-left:-19%">
          <button class="click sidebar-item" style="display: flex; justify-content:space-around; margin-right: 20%;"
            routerLink="notes">
            <img src="../../../assets/images/note.png" width="25vw">
            <span style="margin-left: -33%">Notes</span>
          </button>
        </div>

        <div class="click sidebar-item" fxLayoutGap="30px" style="margin-left:-14%;">
          <button class="click sidebar-item" style="display: flex; justify-content:space-around; margin-right: 20%;">
            <img src="../../../assets/images/reminder.png" width="25vw">
            <span style="margin-left: -19%;">Reminder</span>
          </button>
        </div>

        <div class="click sidebar-item" fxLayoutGap="30px" style="margin-left: -12%">
          <button class="click sidebar-item" style="display: flex; justify-content:space-around; margin-right: 20%;">
            <img src="../../../assets/images/label.png" width="25vw">
            <span style="margin-left: -15%">Edit lebels</span>
          </button>
        </div>

        <div class="click sidebar-item" fxLayoutGap="30px" style="margin-left: -16%">
          <button class="click sidebar-item" style="display: flex; justify-content:space-around; margin-right: 20%;"
            routerLink="archive">
            <img src="../../../assets/images/archive.png" width="25vw">
            <span style="margin-left: -24%">Archive</span>
          </button>
        </div>

        <div class="click sidebar-item" fxLayoutGap="30px" style="margin-left: -19%">
          <button class="click sidebar-item" style="display: flex; justify-content:space-around; margin-right: 20%;"
            routerLink="trash">
            <img src="../../../assets/images/trash.png" width="25vw">
            <span style="margin-left: -33%">Trash</span>
          </button>
        </div>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="operation_area">
      <router-outlet></router-outlet>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->