.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 1px solid rgb(0, 4, 255);

}

.example-toolbar {
    background-color: inherit;
    border-bottom-style: ridge;
    border-color: white;

}

.example-is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    // border: 1px solid red;
}

// h1.example-app-name {
//   margin-left: 8px;
// }

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    // border: solid yellow;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.searchdiv {
    margin-left: 10%;
    width: 100%;
    margin-right: 10%;
}

.search {
    border-radius: 10%;
    width: 50%;
    background: rgba(0, 0, 0, 0.02);
}

.icondiv {
    width: 40%;
}

.icon {
    width: 25px;
    height: 25px;
}

.top_icon {
    width: 50%;
}

.sec_top_icon {
    width: 30%;
}

.sideview {
    // border: solid red;

}

.click {
    opacity: 0.6;
    border-top-right-radius: 30vh;
    border-bottom-right-radius: 30vh;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 6px;
    display: inline-flex;
    font-weight: bolder;
    color: black 10px;
    border: transparent;
    background-color: white;

}

.click:focus {
    background: #feefc3;
    color: rgb(0, 0, 0);
    border-bottom-right-radius: 30vh;
    border-top-right-radius: 30vh;
    padding: 10px;
}

.sidebar-item {
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    align-items: center;
}

.operation_area {
    padding-left: 16%;
    // border: solid red;
}


//Take note
.matcard {
    box-shadow: 0 0 6px;
    padding: 0;
    // border: 1px solid rgb(240, 15, 15);
}

.img2 {
    opacity: 0.6;
    height: 25px;
}

.takenote {
    width: 100%;
}

.inputboxsize {
    height: 40px;
    padding-left: 2%;
}

.main{
    padding-left: 25%;
    margin-bottom: 30%;
    // position: absolute;
    // right: 30%;
    // bottom: 50%;
}